.navbar
    border: 1px solid #000
    display: flex
    justify-content: space-between
    margin: 0
    padding: 1rem
    ul 
        margin: 0
        li 
            list-style: none
            display: inline-block
            @include padding-lr(1rem)
    a 
        text-decoration: none    
    .nav-items-l
        display: flex
        align-item: left